/**********************************************
            GUI Styles
***********************************************/

body.edit .step.hover{
  background-color: rgba(255,250,100,0.5) !important;
}

body.edit .step.selected{
  background-color: rgba(255,200,100,0.25) !important;
}

/**********************************************
            Menu
***********************************************/
.menu-item {font-size:0.7em}
.menu-item:target {text-decoration: underline}
.menu-item {display:inline}
.menu {position: absolute; bottom: 0;}
.menu-button iframe {width:200px; height:200px;}
.menu-item {opacity:0.25}
.menu-item.past {opacity:0.5}
.menu-item.present {opacity:1}


.menu a {
  color: rgb(63,50,158);
  font-weight: normal;
  text-decoration: none;
  padding: 0 0.3em;
}

.menu a:link {
  opacity: 0.8;

  -webkit-transition: 0.3s;
  -moz-transition:    0.3s;
  -ms-transition:     0.3s;
  -o-transition:      0.3s;
  transition:         0.3s;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/**********************************************
            Main Controls
***********************************************/

#builder-main {
  background-color: #222;
  color: #fff;
  width: 110px;
  text-align: center;
  position: absolute;
  /*top: 0;
  right: 0;*/
  top:55;/*new*/
  padding: 10px;
  margin: 10px;
  z-index: 10;
  background: rgba(0,0,0,.2);
  opacity: 1;
  font-size: 17px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
}

#builder-main div {
  display: block;
  cursor: pointer;
}

.builder-bt{
  -webkit-box-shadow: 0px 0px 2px #636363;
  -moz-box-shadow: 0px 0px 2px #636363;
  box-shadow: 0px 0px 2px #636363;
  background-color: #40cb90;
  padding: 8px 12px;
  margin: 10px 0;
  color: #fff;
  text-align: center;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  font-size: .8em;
  text-decoration: none;
  line-height: 1;
  border: 0px;
  border-radius: 2px;
}

.builder-bt:hover {
  background: #68d6a7;
}

.bt-delete {
  cursor: pointer;
  background: rgb(255, 63, 63);
}

.bt-delete:hover {
  background:rgb(255, 108, 108);
}

/**********************************************
            Controls
***********************************************/

#sliders {
  /*color: #fff;
  text-align: center;
  position: absolute;*/
  /*top: 150;*/
  /*top:300; new*/
  /*left: 0;
  padding: 10px;
  margin: 10px;
  z-index: 10;
  background: rgba(0,0,0,.2);
  opacity: 1;
  font-size: 17px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  width: 110px;
  font-family: 'Lato',sans-serif;*/
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 17px;
  width: 110px;
  font-family: 'Lato',sans-serif;
}

.sliders-button {
  /*background-color: rgb(138, 154, 165);
  padding: 2px 2px;
  border: 0px;
  border-radius: 2px;
  margin: 8 0;*/
  margin-top: 5px;
}

#sliders span {

}

/*.bt-text {
  font-family: "Courier", "Fixed";
  font-size: 10pt;
  text-align: left;
  margin: 0px;
  padding: 0px;
  width: 85px;
  padding-left: 0px;
}

.bt-text span:nth-child(-n+9) {
  padding-right: 8px;
}

.bt-text input {
  width: 60px;
}*/

.builder-controls {
  /*padding: 5px;
  background: rgba(0,0,0,.2);
  border-radius: 8px;
  color: #fff;
  width: 40px;
  text-align: center;
  position: absolute;
  border: 1px solid rgba(0,0,0,.1);*/

  padding: 5px;
  background: rgba(80, 80, 80, 0.65);
  border-radius: 2px;
  color: #fff;
  width: 40px;
  text-align: center;
  position: absolute;
}

.builder-controls textarea {
  width: 400px;
  height: 200px;
}

.builder-controls div {
/*  position: relative;
  padding: 2px;
  height: 24px;
  margin: 3px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 5px;*/
  position: relative;
  padding: 2px;
  height: 24px;
  margin: 3px;
  
}

.builder-controls .border {
  border-bottom: 1px solid rgb(172, 172, 172);
}


.bt-move{
  background: url(../img/move_alt.png) no-repeat center;
  cursor: move;
}

.bt-rotate{
  background: url(../img/rotate_alt.png) no-repeat center;
  cursor: move;
}

.bt-scale{
  background: url(../img/scale_alt.png) no-repeat center;
  cursor: move;
}

.bt-rotateX { 
  background: url(../img/loop.png) no-repeat center;
  cursor: move;
}

/*.builder-controls div:before {
  content:'drag';
  font-size: 9px;
  position: absolute;
  top:0;
  left:-8px;


  -webkit-transform: rotate(312deg);
     -moz-transform: rotate(312deg);
          transform: rotate(312deg);
}
*/

.builder-controls span {
  display:block;
}

.plus {
  font-weight: bold;
  color: white;
  font-size: 32px;
}

.bt-add-slide {
  opacity: .6;
  /*right: 10px;
  top: 400px;*/
  left:175px; /*new*/
  top:0px; /*new*/
  cursor: pointer;
  position: absolute;
  font-family: 'IconicStroke'!important;
  background: rgba(0,0,0,.4);
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;;
  border:2px;
  z-index: 10;
  width: 50px;
  height: 50px;
  text-align: center;
}

.bt-add-slide:hover {
  opacity: 1;
  -moz-transition: all 0.3s ease-out;  
  -o-transition: all 0.3s ease-out;  
  -webkit-transition: all 0.3s ease-out;  
  -ms-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;  
}

.back-button {
  position: absolute;
  /*left: 0;*/
  left: 215px;
  top: 0;
  padding: 8px 8px 8px 12px;
  margin: 10px;
  width: 20px;
  z-index: 2;
  color: #fff;
  background: rgba(0,0,0,.2);
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
  white-space: nowrap;
  overflow: hidden;
}

a.back-button:hover {
  background: rgba(0,0,0,.4);
  width: 175px;
}

.back-button span {
  opacity: 1;
  margin-left: 10px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  -moz-transition: all .15s ease;
  -ms-transition: all .15s ease;
  -o-transition: all .15s ease;
}

/**********************************************
            nicEdit Panel
***********************************************/

#myNicPanel {
  position: absolute;
  margin: 0 0 0 50%;
  width: 680px;
  left: -350px;
  z-index: 100;
  top: 10px;
  color: #000;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.nicEdit-panel > div {
  margin: 1px;
  font-size: 1.5em;
}

/**********************************************
            Modal Window
***********************************************/

.modal-overlay  {
  position:fixed;  
  top:0;  
  right:0;  
  bottom:0;  
  left:0;  
  height:100%;  
  width:100%;  
  margin:0;  
  padding:0;  
  background:#000;  
  opacity:.2;  
  filter: alpha(opacity=2);  
  -moz-opacity: 0.2;  
  -webkit-opacity: 0.2;
  z-index:101;  
}  

.modal-window  {
  position:fixed;  
  top:50%;  
  left:50%;  
  margin:0;  
  padding:0;  
  z-index:102;  
  border-style: solid;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}  

.close-window  {
  position:absolute;  
  width:32px;  
  height:32px;  
  right:8px;  
  top:8px;  
  background:transparent url('../img/close-button.png') no-repeat scroll right top;  
  text-indent:-99999px;  
  overflow:hidden;  
  cursor:pointer;  
  opacity:.5;  
  filter: alpha(opacity=50);  
  -moz-opacity: 0.5;  
  -webkit-opacity: 0.5;
}  
.close-window:hover  {
  opacity:.99;  
  filter: alpha(opacity=99);  
  -moz-opacity: 0.99;  
  -webkit-opacity: 0.99;
}  

.theme {
  color: #000;
  background: #fff;
  margin: 10px;
  font-weight: bold;
  font-family: 'IconicStroke';
  font-size: 30px;

}

.theme img {
  display: inline;
  padding: 8px;
  cursor: pointer;
  opacity: 1;
  border: 1px solid transparent;
  margin-top: 5px;
}

.theme img:hover {
  border: 1px #ccc solid;
}

.theme span {
  white-space:nowrap;
}

.theme .text {
  font-size: 14pt;
}

/**********************************************
            Sliders
***********************************************/

.slidable {
  border: none;
  cursor: col-resize;
  width: 80px;
}

.slidable:focus {
    border: solid 1px #000;
    cursor: auto;
}

/**********************************************
            Themes
***********************************************/

.black {
  background: #7d7e7d; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
}

.blue {
  background: #feffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
}

.silver {
  background: #feffe8; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #feffe8 0%, #d6dbbf 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feffe8), color-stop(100%,#d6dbbf)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #feffe8 0%,#d6dbbf 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #feffe8 0%,#d6dbbf 100%); /* W3C */
}

.white {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(246,246,246,1) 0%, rgba(241,241,241,1) 19%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(225,225,225,1)), color-stop(0%,rgba(246,246,246,1)), color-stop(19%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 0%,rgba(241,241,241,1) 19%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 0%,rgba(241,241,241,1) 19%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 0%,rgba(241,241,241,1) 19%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 0%,rgba(241,241,241,1) 19%); /* W3C */
}

.yellow {
  background: rgb(254,252,234); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
}

/**********************************************
            Sidebar
***********************************************/

.sidebar {
  position: absolute;
  width: 212px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  z-index: 102;
  background: rgb(40, 41, 41);
  font-size: 17px;
  border-right: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.primary {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px;
}

.primary .button {
  display: inline-block;
  width: 42%;
  height: 60px;
  margin: 5;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.button.save {
  background: #40cb90 url("../img/download.png") no-repeat center;
}

.button.overview {
  background: #40cb90 url("../img/eye.png") no-repeat center;
}

.button:hover {
  background-color: #68d6a7;
}


.divider {
  border-bottom: 1px solid #333;
  margin: 10px 0;
}

.title {
  color: #fff;
  margin: 0 0 10;
  text-align: center;
}


.alignment-inspector {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 0 10px;
}

.alignment-circle{
  position:relative;
  float:left;
  width:50px;
  height:50px;
  background: url("../layout/img/circle.png") center no-repeat;
}

.circle-dot{
  position:absolute;
  display:block;
  width:9px;
  height:9px;
  background: url("../layout/img/AlignWidgetD.png");
}

.circle-dot.active{
  background: url("../layout/img/AlignWidgetH.png");
}

.alignment-circle #top-left{
  top:1px;
  left:1px;
}

.alignment-circle #top-center{
  top:1px;
  left:21px;
}

.alignment-circle #top-right{
  top:1px;
  right:1px;
}

.alignment-circle #center-left{
  top:21px;
  left:1px;
}

.alignment-circle #center-center{
  top:21px;
  left:21px;
}

.alignment-circle #center-right{
  top:21px;
  right:1px;
}

.alignment-circle #bottom-left{
  bottom:1px;
  left:1px;
}

.alignment-circle #bottom-center{
  bottom:0px;
  left:21px;
}

.alignment-circle #bottom-right{
  bottom:1px;
  right:1px;
}
/* icons */
.icon-holder{
   position:relative;
   float:left;
   margin-left: 10px;
}

.icon-holder > div{
  position:absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  background: #000000; /* used to darken on mouse click */
}

.alignment-row {
  top: 0px;
  left: 0px;
}

.gradient-holder{
  width:100%;
  height: 100%;
  background: rgb(219,219,219); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(219,219,219,1) 0%, rgba(242,242,242,1) 33%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(33%,rgba(242,242,242,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(242,242,242,1) 33%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(242,242,242,1) 33%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(242,242,242,1) 33%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(219,219,219,1) 0%,rgba(242,242,242,1) 33%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.gradient-holder > a{
  display:block;
  width:100%;
  height: 100%;
}

.alignment-row  a{
  background: url("../layout/img/AlignRowCenter.png") center no-repeat;
}

.alignment-column {
  top: 29px;
  left: 0px;           
}

 .alignment-column a{
  background: url("../layout/img/AlignColumnCenter.png") center no-repeat;
}

.spread-row {
  top: 0px;
  left: 30px;
}

.spread-row  a{
  background: url("../layout/img/DistributeRow.png") center no-repeat;
}

.spread-column {
  top: 29px;
  left: 30px;            
}

.spread-column a{         
  background: url("../layout/img/DistributeColumn.png") center no-repeat;
}

.spacing {
   position: relative;
   float: left;
   margin-left: 75px;
   width: 50px;
   height: 50px;
}

.spacing input {
  width: 35px;
  margin-bottom: 4px;
  margin-top: 5px;
}

.offset-icons {
  margin-left: -8px;
}

.offset-horizontal {
  top: 0px;
  left: 0px;
}

.offset-horizontal a {
  background: url("../layout/img/EvenRow.png") center no-repeat;
}

.offset-vertical {
  top: 29px;
  left: 0px;
}

.offset-vertical a{
  background: url("../layout/img/EvenColumn.png") center no-repeat;
}

/******************** LAYOUTS ***********************/

.custom-layouts {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 0 10px;
  padding-bottom: 10px;
}

.grid-holder a {
  background: url("../layout/img/SnapToGrid.png") center no-repeat;
}

.circle-holder a {
  background: url("../layout/img/SnapToCircle.png") center no-repeat;
}

.grid input {
  width: 35px;
  margin-bottom: 4px;
  margin-top: 5px;
}

.circle input {
  width: 35px;
  margin-bottom: 4px;
  margin-top: 5px;
}

.custom-layouts .icon-holder {
  margin-left: 50px;
}

.grid {
  margin-left: 30%;
  margin-bottom: 10px;
}

.circle {
  margin-left: 30%;
  margin-bottom: 10px;
}

/**********************************************
            Timeline
***********************************************/

.timeline {
  position: absolute;
  width: 150px;
  height: 100%;
  right: 0;
  top: 0;
  padding: 0;
  z-index: 102;
  background: rgb(40, 41, 41);
  font-size: 17px;
  border-right: 1px solid rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.timeline .primary button {
  display: inline-block;
  width: 79%;
  height: 60px;
  margin: 5;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.button.back {
  background: rgb(65, 65, 65) url("../img/arrow_left.png") no-repeat center;
}

.button.back:hover {
  background-color: rgb(97, 97, 97) ;
}

.button.add {
  background: url("../img/plus_alt.png") no-repeat center;
}

.button.add:hover {
  opacity: 0.9;
}

.secondary {
  text-align: center;
}

.secondary .button {
  display: inline-block;
  width: 42%;
  height: 60px;
  border: none;
  cursor: pointer;
  margin: -15px;
}
